<h3 class="text-md-center m-5">Sample Stocks</h3>
<div style="background-color:snow; border-radius: 10px; box-shadow: 5px 5px 15px rgba(0,0,0,0.3); padding: 20px;">
  <div style="display: flex; justify-content: space-between;">
    <!-- Place Order Button -->
    <button type="button" class="btn btn-primary" (click)="openModal()">
      Place Order
    </button>
    <!-- Order History Button -->
    <button type="button" class="btn btn-primary" style="background-color:transparent; border-color:blue ;color:black" (click)="openHistoryModal()">
      Order history
    </button>
  </div>
  <!-- Order Modal -->
  <div class="modal"  [ngClass]="{'show': isModalOpen}" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true" [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color:snow; border-radius: 10px; box-shadow: 5px 5px 15px rgba(0,0,0,0.3);">
        <div class="modal-header">
          <h5 class="modal-title" id="orderModalLabel">Place Order</h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>-->
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="form-group">
              <label for="stockSymbol">Stock Symbol</label>
              <input type="text" class="form-control" id="stockSymbol" formControlName="stockSymbol" placeholder="Enter Stock Symbol">
            </div>
            <div class="form-group">
              <label for="orderType">Order Type</label>
              <select class="form-control" formControlName="orderType" id="orderType">
                <option>Buy</option>
                <option>Sell</option>
              </select>
            </div>
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="number" class="form-control" id="quantity" formControlName="quantity" placeholder="Enter Quantity">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="placeOrder()">Place Order</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Order History Modal -->
  <div class="modal"  [ngClass]="{'show': isModalHistoryOpen}" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true" [ngStyle]="{'display': isModalHistoryOpen ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color:snow; border-radius: 10px; box-shadow: 5px 5px 15px rgba(0,0,0,0.3);">
        <div class="modal-header">
          <h5 class="modal-title" id="orderHistoryModalLabel">Place Order</h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>-->
        </div>
        <div class="modal-body table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Stock Symbol</th>
                <th scope="col">Order Type</th>
                <th scope="col">Quantity</th>
                <th scope="col">Time Stamp</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{order.symbol}}</td>
                <td>{{order.type}}</td>
                <td>
                  {{order.quantity}}
                </td>
                
                <td>{{order.timeStamp | date:'medium'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeHistoryModal()">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  <div class=" table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Symbol</th>
        <th scope="col">Current Price</th>
        <th scope="col">Past Price</th>
        <th scope="col">Last changed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <td>{{stock.title}}</td>
        <td>{{stock.symbol}}</td>
        <td [ngClass]="{'price-up': stock.priceHistories && stock.priceHistories.length > 1 && stock.currentPrice > stock.priceHistories[stock.priceHistories.length - 2].price, 'price-down': stock.priceHistories && stock.priceHistories.length > 1 && stock.currentPrice < stock.priceHistories[stock.priceHistories.length - 2].price}">
          {{stock.currentPrice | number:'1.2-2'}}
        </td>

        <td *ngIf="stock.priceHistories && stock.priceHistories.length > 0">{{stock.priceHistories[stock.priceHistories.length - 2].price | number:'1.2-2'}}</td>
        <td *ngIf="stock.priceHistories && stock.priceHistories.length > 0">{{stock.priceHistories[stock.priceHistories.length - 2].timeStamp | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
    </div>
</div>
